.layout {

    --padding: 0.5rem;

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main";

    gap: calc(var(--padding) * 3);



    .header {

        grid-area: header;

        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

        backdrop-filter: brightness(1.25);
        

        padding: calc(var(--padding) * 2) calc(var(--padding) * 3);

        display: grid;

        grid-template-columns: 15rem 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header-left header-center header-right";

        gap: calc(var(--padding) * 2);

        & > * {

            display: flex;
        }

        .headerLeft {
            grid-area: header-left;
            justify-content: center;
            align-items: center;
            
        }
    
        .headerCenter {
            grid-area: header-center;
        }
    
        .headerRight {
            grid-area: header-right;
            align-items: center;

            & > a {
                text-decoration: none;
            }
        }
    }


    

    .main {
        grid-area: main;

        overflow-y: scroll;

        /* padding: calc(var(--padding) * 2); */
    }

}


.brand {
    font-size: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}