.layout {

    --padding: 0.5rem;

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main";

    gap: calc(var(--padding) * 2);



    .header {

        grid-area: header;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        padding: calc(var(--padding) * 1) calc(var(--padding) * 3);

        display: grid;

        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header-left header-center header-right";

        gap: calc(var(--padding) * 6);

        & > * {

            display: flex;
        }

        .headerLeft {
            grid-area: header-left;
            justify-content: center;
            align-items: center;
            
        }
    
        .headerCenter {
            grid-area: header-center;
        }
    
        .headerRight {
            grid-area: header-right;
        }
    }


    

    .main {
        grid-area: main;

        overflow-y: scroll;

        padding: calc(var(--padding) * 2);
    }

}


.brand {
    font-size: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.menu {
    
    margin: 0;
    padding: 0;

    width: 100%;


    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    list-style: none;
    
    .item a {
        text-decoration: none;
    }
}